nav.navbar .navbar-nav img.profile-picture {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	object-fit: cover;
}

.form-group {
	position: relative;
}

.form-group .autocomplete {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #fff;
	max-height: 200px;
	overflow-y: auto;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	z-index: 5;
}

.form-group .autocomplete.autocomplete-results-show {
	display: block;
}

.form-group .autocomplete .result {
	padding: .5rem .9rem;
	font-size: .9rem;
}

.form-group .autocomplete .result:hover {
	background-color: rgba(0, 0, 0, 0.1);
	cursor: pointer;
	user-select: none;
}

.badge {
	display: inline-flex;
	align-items: center;
}

.badge .remove {
	font-size: 1.2rem;
	margin-right: 5px;
	cursor: pointer;
	user-select: none;
}

.badge .remove:hover {
	color: red;
}

.card .card-body .professional-profile,
.card .card-body .profile {
	display: flex;
	align-items: center;
}
.card .card-body .professional-profile img,
.card .card-body .profile img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	object-fit: cover;
}

.card .card-body .question {
	max-height: 200px;
	overflow-y: auto;
}

.card .card-body .see-answer {
	cursor: pointer;
}

.card .card-body .see-answer.show {
	display: none;
}

.card .card-body .answer-section {
	display: none;
}

.card .card-body .answer-section.show {
	display: block;
}
